@import "https://fonts.googleapis.com/css?family=Alfa+Slab+One|Open+Sans";
.currentS{
font-family: 'Alfa Slab one' , cursive;
}
.curScore{
    height: 100px;
    text-align: center;
}
.presentScore{
    font-size: 30px
}

@media only screen and (max-width: 600px) {
}