@import "https://fonts.googleapis.com/css?family=Alfa+Slab+One|Open+Sans";
.highS{
font-family: 'Alfa Slab one' , cursive;
}
.styleHiS{
    height: 100px;
    text-align: center;

}

.highScore{

        font-size: 30px

    
}