.imgCard{

margin: 40px;
float: left;

}
img{
    height: 100px;
    width :100px;
}

@media only screen and (max-width: 1155px) {

    img{
        height: 70px;
        width :70px;
    }
    

}
@media only screen and (max-width: 850px) {

   
    img{
        height: 40px;
        width :40px;
    }
    
    

}

@media only screen and (max-width:500px max-height:300px)